.container {
  display: flex;
  height: 100vh;
  padding-top: 80%;
  padding-bottom: 80%;
}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  transition: width 0.3s ease;
  background: #71179C;
  border-radius: 10%
}

.menu.open {
  width: 300px;
}

.menu.closed {
  width: 50px;
}

.content {
  flex: 1;
  padding: 20px;
}